.App {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.drop-area {
  width: 30vw;
  height: 50vh;
  border: 5px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.drag-area {
  width: 30vw;
  height: 50vh;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabContent {
  border: 1px solid black;
}